
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-branca: #FFFFFF;
    --cor-cinza:#667085;
    --cor-marrom:#8E2424;
    --cor-preto:#101828;
    --cor-background-footer:#F9FAFB;
    --cor-borda-desing:#EAECF0;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: var(--cor-branca);
    width: 100%;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 2rem;
    margin: 0px 80px;
}
.navbar__logo{
    padding: 28px;
}
.navbar__Link{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right:300px;
    display: flex;
    gap: 32px;
   
}
.navbar__Link__link {
    text-decoration: none;
    color:var(--cor-cinza);

}

.navbar__botões{
    display: flex;
    align-items: center;
    gap:30px;
}

.navbar__botões__entrar{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--cor-cinza);
    margin-left: 12px;
    text-decoration: none;
}
.navbar__botões__cadastrar{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color:var(--cor-marrom);
    color:var(--cor-branca);
    padding: 10px 18px 10px 18px;
    border-radius: 8px;  
    text-decoration: none;
}

.sobre__nós{
    margin:96px 0px 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}
.sobre__nós__sobre__sobre{
    font-family:"Inter", sans-serif;
    font-weight: 600;
    font-size: 16px ;
    color: var(--cor-marrom);
}
.sobre__nós__titulo{
    font-family:"Inter", sans-serif;
    font-weight: 600;
    font-size: 48px ;
}
.sobre__nós__texto{
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 20px ;
    line-height: 1.8rem;
    text-align: center;
    color: var(--cor-cinza);  
}
.metricas-container{
   justify-content: space-evenly;
    display:grid; 
    grid-template-columns:280px 280px 280px 280px ;
    padding: 56px;
    width:75%;
    margin: 0 13%;
    gap: 32px;
   
}
.metricas__titulo{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: var(--cor-marrom);
}
.metricas__titulo__segundario{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 18px; 
    color: var(--cor-preto);
    padding: 12px 0 8px 0;
}
.metricas__texto{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:var(--cor-cinza); 
    line-height: 24px;
}
.vagas{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 150px 0 90px 0;
}
.vagas__abertas{
    font-family:"Inter",sans-serif ;
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-marrom);
}
.vagas__titulos_talentos{
    font-family: "Inter", sans-serif;
    font: 600;
    font-size: 36px;
    color:var(--cor-preto);
}
.vagas__texto{
    font-family:"Inter",sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: var(--cor-cinza);
}
.imagem{
    padding: 4rem 0 0.1rem 0 ;
}


.setor-container{
    font-family:"Inter",sans-serif;
    font-weight: 500;
    font-size: 20px;
     display: flex;
     flex-direction: column;
     gap: 40px;
     padding:0 24% 2%;
     
}

.setor__cargo{  
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    gap: 22px;  
    border: 0.2px solid var(--cor-borda-desing);
    border-radius: 5px;
    padding: 24px;
}

.setor__vagas__cargo{
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-radius: 2px;
    padding-bottom: 10px;
   
}
.setor__subtitulo{
    font-family:"Inter",sans-serif;
    font-weight: 500;
    font-size: 18px; 
    color: var(--cor-preto);
}
.setor__texto{
    font-family:"Inter",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:var(--cor-cinza);
}

.colaborador{
    padding: 30px 0;
}    
.colaborador__titulo{
    font-family:"Inter",sans-serif ;
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-marrom);
    text-align: center;
    margin: 84px 0 16px 0;
    padding: 10px;
}
.colaborador{
    background-color:#efeff5;
    width: 95%;
    margin: 0 auto;
    border-radius: 16px;
    
}
.colaborador__texto{
    margin: 0 10%;
    font-family:"Inter",sans-serif ;
    font-size: 36px;
    font-weight: 500;
    color: var(--cor-preto);
    text-align: center;
}

.avatar{
    margin:  32px auto;
    display: block;
}


.colaborador__texto__julia{
color:var(--cor-preto);
font-family:"Inter",sans-serif ;
font-size: 16px;
font-weight: 500;
text-align: center;

}
.colaborador__texto__desenvolvedora{
color:var(--cor-cinza);
font-family:"Inter",sans-serif ;
font-size: 14px;
font-weight: 400;
text-align: center;
margin: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--cor-background-footer);
}
.footer__titulo{
    font-family:"Inter",sans-serif ;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--cor-preto);
    padding: 96px 0 20px 0;
    
}
.footer__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__texto{
    font-family:"Inter",sans-serif ;
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-cinza);
}

.footer__navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding: 40px 32px;
   
}

.input{
    font-family:"Inter",sans-serif ;
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-cinza);
    width: 360px;
    height: 45px;  
    border-radius: 8px ;
    border-color:#98A2B3;
    
}

.navbar__botoes__cadastrar__footer{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color:var(--cor-marrom);
    text-decoration: none;
    color:var(--cor-branca) ;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px;

}
.footer__copywight{
    padding: 0 0 96px 0;
    color: #98A2B3;
}
